
.app-todo-item:nth-child(even) {
	background-color: #EEE;
}

.app-todo-item:last-of-type {
	border-bottom: 0;
}

form{
	display: flex;
	align-items: center;
}

.todo-input {
	display: block;
    width: 100%;
	padding: 10px 15px;
	margin: 0px 10px 0px;
	background-color: #F3F3F3;
	border: none;
	font-size: 20px;
	outline: none;
	/*appearance: none;*/
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
/*	outline: none;
	background: none;*/
	background-color: #FE4880;
	padding: 10px 15px;
	margin: 0px 10px 0px;

	color: #FFF;
	font-size: 18px;
	font-weight: bold;
}