<header>

    <h1> My To-Do List </h1>

    <div class="search">

        <!-- Search field toggled when the search button below is pressed-->
        <input [hidden]="!showSearchField" 
            type="text" 
            name="searchField" 
            class="searchField"
            (keyup)="getSearchResults($event)"
        > <!--keyup event is triggerd on keyboard press-->

        <!-- Search button-->
        <app-button class="app-button" 
            imgSrc="https://raw.githubusercontent.com/alexis-o/crud-app-angular-2022/gh-pages/src/assets/img/search_3.png" 
            (btnClick)="toggleSearchField()">
        </app-button>

    </div>

</header>
