<div class="todo-container">
    
    <!-- Checkbox click marks To Do item as completed-->
    <input type="checkbox"
        class="todo-checkbox" 
        (click)="onComplete(todo)"
        [checked]="todo.completed"/>

    <!-- To Do title -->
    <div *ngIf="!editFlag"
        [ngClass]="{'completed': todo.completed }" 
        class="title"
        (dblclick)="editTitle()">{{ todo.title }}</div>

    <!-- To Do title's input field enabled when user double clicks on title above -->        
    <input #titleInput 
        *ngIf="editFlag"
        type="text" 
        class="titleInput"
        (dblclick)="doneEditing()"
        [(ngModel)]="todo.title">
    <!-- Prevents ERROR TypeError: this.titleInput is undefined-->
    <div #titleInput *ngIf="!editFlag"></div> 

    <!-- Delete button for each To Do --> 
    <app-button 
        (btnClick)="onDelete(todo)" 
        imgSrc="../../../assets/img/delete-icon.png">
    </app-button>

</div>