form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	padding: 5px;
}

form > div{
	margin: 5px; /* 10px space between div flex items*/
}

.inp{
	flex: 3 0 auto;
}

.but{
	flex: 1 0 auto;
}

.todo-input {
	min-width: 160px;
    width: 100%;
	padding: 15px 5px;
	background-color: #fcfcfc;
	font-size: 17px;
}

.todo-asdf {
}